.textsmall {
  font-size: 0.8rem !important;
}
.textmedium {
  font-size: 9rem !important;
}
.textlarge {
  font-size: 1rem !important;
}

.h-ft {
  height: fit-content;
}
.W-ft {
  width: fit-content;
}
